# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Environment files (keep secrets out of git!)
.env
.env.local
.env.*.local
.env.newsletter
.env.pulled
.env.stax
.env.temp
.env.vercel.pulled
.env.vercel
.env.prod

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
.env*.local
.env.production
.env.vercel
*.mjs
.env.prod
.env.vercel-*
